* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
    /*Colors*/
    --content-primary:#FFFFFF;
    --content-secondary:#98959D;
    --content-tertiary:#666666;
    --content-brand:#9282FA;

    --background-primary:#14151D;
    --background-secondary:#1E1E1E;
    --background-tertiary:#23242C;
    --background-brand:#9282FA;
    --background-highlights:#BDB4FA;

    --border-primary:#3E3C41;
    --border-secondary:#86818C;
    --border-brand:#9282FA;
    --border-divisor:#353339;

    --accent-blue:#027DF0;
    --accent-blue-light:#16487A;
    --accent-yellow:#F0DC02;
    --accent-yellow-light:#756E1B;
    --accent-orange:#F09102;
    --accent-orange-light:#75501B;




    /*Fonts*/


    --title: 700 24px/32px 'Inter Tight', sans-serif;
    --paragraph-md: 500 14px/23px 'Inter',sans-serif;
    --paragraph-sm: 500 12px/16px 'Inter',sans-serif;
    --label-lg: 700 16px/24px 'Inter',sans-serif;
    --label-md: 700 14px/24px 'Inter',sans-serif;
    --label-sm: 700 12px/16px 'Inter',sans-serif;
    --link: 500 12px/16px 'Inter',sans-serif;
}

body{
    background-color:var(--background-primary);
    min-height:100vh;
}