.container {
    max-width: 1366px;
    margin: 0 auto;
    padding: 18px 80px 80px 80px;
}

.logo img {
    width: 113px;
    height: 24px;
    margin-left: 8px;

}

.logo {
    position: absolute;
    top: 0;
    left: 0;

    width: 153px;
    height: 48px;

    border-radius: 0 0 8px 0;
    padding: 12px;
    background-color: #2E2C30;
}

.agenda-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 62px;
    margin-bottom: 32px;

    div:first-child {
        display: flex;
        flex-direction: column;
        gap: 4px;

        h1 {
            font: var(--title);
            color: var(--content-primary);
        }

        span {
            font: var(--paragraph-md);
            color: var(--content-secondary);
        }
    }

    .input-data {
        display: flex;
        align-items: center;
        gap: 8px;
        padding: 12px 16px;
        width: fit-content;
        position: relative;
        height: 48px;

        background-color: var(--background-primary);
        border: 2px solid var(--border-primary);
        border-radius: 8px;
        cursor: pointer;

        input[type="date"] {
            background: transparent;
            border: none;
            color: var(--content-secondary);
            font: var(--label-lg);
            outline: none;
            cursor: pointer;

            &::-webkit-calendar-picker-indicator {
                position: absolute;
                width: 100%;
                height: 100%;
                opacity: 0;
                cursor: pointer;
                top: 0;
                left: 0;
                z-index: 1;
            }
        }

    }
}

/* Container header+clientes */

.schedule-wrapper {
    /* border:1px solid red; */
    background-color: var(--background-tertiary);
    margin-bottom: 12px;
    border-radius: 8px;
}

.schedule-wrapper:last-child {
    margin-bottom: 0px;
}


/* Header dos horarios */
.scheduleheader {
    border-bottom: 1px solid #2E2C30;
    display: flex;
    justify-content: space-between;
    font: var(--label-lg);
    padding: 12px 20px;


    div:first-child {
        display: flex;
        gap: 8px;
        color: var(--content-primary);
    }

    div:last-child {
        color: var(--content-secondary);
    }

}

/* Cards de agendamentos */

.schedules-container {
    /* border: 1px solid red; */
    min-height: 88px;
    padding: 12px 20px 12px 30px;
    /* gap: 16px; */
    /* align-items: center; */
    background-color: var(--background-tertiary);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.schedule {
    height: 88px;
    display: grid;
    grid-template-columns: 1fr 1fr 150px;
    gap: 16px;
    align-items: center;
}

.schedule span.hour {
    margin-right: 16px;
    font: var(--label-md);
    color: var(--content-primary);
}

.schedule span.petName {
    font: var(--label-sm);
    color: var(--content-primary);
}

.schedule span.ownerName {
    font: var(--paragraph-sm);
    color: var(--content-secondary);
}

.serviceDescription {
    text-align: left;
    font: var(--paragraph-sm);
    color: var(--content-secondary);
}


.schedule+.schedule {
    position: relative;
    ;
}

.schedule+.schedule::before {
    content: "";
    position: absolute;
    top: 0;
    left: 20px;
    right: 20px;
    height: 1px;
    background-color: #2E2C30;
}





.remove {
    font: var(--paragraph-sm);
    color: var(--content-tertiary);
    cursor: pointer;
}

.remove:hover {
    text-decoration: underline;
    color: var(--content-primary);
}

/* botão de novo agendamento */

footer {
    display: flex;
    flex-direction: row-reverse;
    margin-right: 30px;

    button {
        margin-bottom: 40px;
        width: 218px;
        height: 48px;
        background-color: var(--content-brand);
        border-radius: 8px;

        font: var(--label-lg);
        color: #050505;
        border: 1px solid var(--content-brand);
        cursor: pointer;
        box-shadow: 0 0 25px rgba(139, 124, 249, 0.7);
    }

    button:hover {
        background-color: #BDB4FA;
        color: var(--tertiary-brand);
        border: 1px solid var(--tertiary-brand);
    }
}


/* Overlay */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    overflow-y: auto;
    display: block;

    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6px);

}



/* Pop-up de agendamento */

.popup-wrapper {
    background-color: var(--background-tertiary);
    margin: 22px auto;
    display: flex;
    justify-content: center;
    height: 716px;
    width: 477px;
    padding: 40px;
    border-radius: 12px;
    position: relative;
}

.popup-content {
    header {
        margin-bottom: 28px;

        h2 {
            font: var(--title);
            color: var(--content-primary);
        }

        span {
            font: var(--paragraph-md);
            color: var(--content-secondary);

        }
    }

    label {
        font: var(--label-md);
        color: var(--content-primary);
    }

    /* inputs tutor pet telefone */

    .input-wrapper {
        display: flex;
        align-items: center;
        gap: 8px;


        width: 397px;
        height: 48px;
        border: 1px solid #3E3C41;
        border-radius: 8px;
        padding: 12px;
        background-color: var(--background-tertiary);
        margin-bottom: 16px;
    }

    .input-wrapper:hover {
        border: 1px solid #86818C;
    }

    .input-wrapper:focus-within {
        border: 1px solid #9282FA;
    }

    .input-control {
        flex: 1;
        background: transparent;
        border: none;
        outline: none;
        color: var(--content-primary);
        font: var(--paragraph-md);
        resize: none;
    }

    /* textarea descrição serviço */

    .service-wrapper {
        display: flex;
        align-items: center;
        gap: 8px;


        width: 397px;
        height: 83px;
        border: 1px solid #3E3C41;
        border-radius: 8px;
        padding: 12px;
        background-color: var(--background-tertiary);
        margin-bottom: 16px;

    }

    .service-wrapper:hover {
        border: 1px solid #86818C;
    }

    .service-wrapper:focus-within {
        border: 1px solid #9282FA;
    }

    /* inputs data-hora */

    .datahour {
        display: flex;
        gap: 16px;
    }

    .hourdate-wrapper {
        display: flex;
        align-items: center;
        gap: 4px;


        width: 190px;
        height: 48px;
        border: 1px solid #3E3C41;
        border-radius: 8px;
        padding: 12px;
        background-color: var(--background-tertiary);
        margin-bottom: 16px;
        position: relative;

        input[type="date"] {
            background: transparent;
            border: none;
            color: var(--content-secondary);
            font: var(--label-lg);
            outline: none;
            cursor: pointer;

            &::-webkit-calendar-picker-indicator {
                position: absolute;
                width: 100%;
                height: 100%;
                opacity: 0;
                cursor: pointer;

            }
        }

        select {
            appearance: none;
            width: 100%;
            height: 40px;
            padding: 10px;
            background-color: var(--background-tertiary);
            border-radius: 8px;
            color: var(--content-secondary);
            font: var(--label-lg);
            outline: none;
            cursor: pointer;
            border: none;

        }



    }

    /* botão agendar */

    .btnfooter {
        display: flex;
        flex-direction: row-reverse;
        margin-top: 15px;

        button {
            width: 123px;
            height: 48px;
            background-color: var(--content-brand);
            border-radius: 8px;
            font: var(--label-lg);
            color: #050505;
            border: 1px solid var(--content-brand);
            cursor: pointer;
        }

        button:hover {
            background-color: #BDB4FA;
            color: var(--tertiary-brand);
            border: 1px solid var(--tertiary-brand);
        }
    }
}




/* esconde e aparece popup */

.hide {
    display: none;
}