.container {
    border: 3px solid green;
    max-width: 1366px;
    margin: 0 auto;
}

.logo img {
    width: 113px;
    height: 24px;
    margin-left: 8px;

}

.logo {
    position: absolute;
    top: 0;
    left: 0;

    width: 153px;
    height: 48px;

    border-radius: 0 0 8px 0;
    padding: 12px;
    background-color: #2E2C30;
}

.agenda-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 62px;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 32px;

    /* padding:32px 0; */

    div:first-child {
        display: flex;
        flex-direction: column;
        gap: 4px;

        h1 {
            font: var(--title);
            color: var(--content-primary);
        }

        span {
            font: var(--paragraph-md);
            color: var(--content-secondary);
        }
    }

    .input-data {
        display: flex;
        align-items: center;
        gap: 12px;
        padding: 12px 16px;
        width: fit-content;
        position: relative;

        background-color: var(--background-primary);
        border: 2px solid var(--border-primary);
        border-radius: 8px;
        cursor: pointer;

        i img {
            width: 20px;
            height: 20px;
            display: block;
        }

        input[type="date"] {
            background: transparent;
            border: none;
            color: var(--content-secondary);
            font: var(--label-lg);
            outline: none;
            cursor: pointer;

            &::-webkit-calendar-picker-indicator {
                position: absolute;
                width: 100%;
                height: 100%;
                opacity: 0;
                cursor: pointer;
                top: 0;
                left: 0;
                z-index: 1;
            }
        }

    }
}

